<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between">
      <div>
          <a href="/" class="text-white text-lg">Inicio</a>
          <a href="/paises" class="text-white text-lg ml-4">Paises</a> <!-- Botón para Paises -->
      </div>
      <div>
          <a href="/addPais" class="bg-blue-500 text-white px-4 py-2 rounded">Agregar País</a> <!-- Botón para Agregar País -->
      </div>
  </div>
</nav>
